/*estilos para el header*/
header .row{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* Este  codigo se aplica para ajustar la alineacion del body*/
.wrap-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zerogrid{
    width: 62.5rem;
}

/*Este codigo se utilizo para dividir columnnas y filas , en este caso las imagenes*/

.wrap-box > .row{
    display: flex;
    flex-wrap: wrap;
}

.row > .col-2-5{
    width: 40%;
}

.row > .col-3-5{
    width: 60%;
}

.row > .col-1-2{
    width: 50%;
}


/* Este codigo se utilizo para  arreglar el footer mediante un flex*/

.wrap-footer >.row{
    display: flex;
}

.row > .col-1-3{
    width: 18.33rem;
    margin: 0.625rem;
}


/*Estilos ABOUT*/

.single-post{
    margin-top: 0px;
}


/* -----------------------------------ESTILOS BLOG--------------------------------- */
.col-1-2{
    width: 60%;
}
/* ------------------------------------ESTILOS CONTACT----------------------------- */
label.row{
    display:flex;
}
div.contact-form > h3.t-center{
    padding-top: 2rem;
    margin: 0;
}
div .wrap-col{
    width: 100%;
    justify-content:space-around;
}

